# Compiled extensionless executable files in /src/*/
/src/*/*
!/src/*/*.*
!/src/doc/*
!/src/*/Makefile
!/src/*/README

# Compiled Object files
*.o

# Compiled Static and Dynamic libraries
*.a
*.so
*.dylib
*.dSYM

#kaldi
*ark
*scp

# Make dependencies
.depend.mk

# /src/
/src/config.mk

# backups
*~
*.bak
project.xcworkspace

# swp files
*.swp

# python
*.pyc

# else
tmp*
log
*/tmp*


#expriments
exp/
exp_110h/
fbank/
v1/data/
data/
data_ml/
log/
random_exp/
random_scripts/
videos_local/
tmp/
data_ml_11/
data_video_ml/
data_videos_ml/
results/
exp_110h/
tf-mm/
